@import '../../styles/colors.module.scss';

.content {
  display: flex;
  flex-direction:row;
  align-items: center;
  justify-content: center;
  height: 480px;
  background-color: $primary-color;
  margin-top: 2px;

  h2 {
    font-size: 2em;
    margin-bottom: 20px;
  }
}